// ***********
// * LightDM *
// ***********

// GTK Greeter

#panel_window {
  background-color: $panel_bg_color;
  color: $panel_fg_color;
}

#login_window,
#shutdown_dialog,
#restart_dialog {
  &:dir(ltr), &:dir(rtl) {
    padding: 12px;
    border-radius: 18px;
    border: 1px solid $border_color;
    background-color: $headerbar_bg_color;
    box-shadow: none;
  }
}

#login_window entry {
  border-radius: 999px;
  background-color: gtkalpha($fg_color, 0.1);
  &:disabled {
    background-color: gtkalpha($fg_color, 0.05);
  }
}

#content_frame {
  padding-bottom: 12px;
}
