// *********
// * Unity *
// *********

// This is from Yaru

UnityDecoration {
  -UnityDecoration-extents: if($variant =='light', 38px 1px 1px 1px, 37px 1px 1px 1px);
  -UnityDecoration-input-extents: 10px;

  -UnityDecoration-shadow-offset-x: 1px;
  -UnityDecoration-shadow-offset-y: 5px;
  -UnityDecoration-active-shadow-color: transparentize(black, 0.3);
  -UnityDecoration-active-shadow-radius: 30px;
  -UnityDecoration-inactive-shadow-color: transparentize(black, 0.45);
  -UnityDecoration-inactive-shadow-radius: 30px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 0px;
  -UnityDecoration-title-fade: 0px;
  -UnityDecoration-title-alignment: 0.5;

  &.background { border-radius: $window_radius; background-color: transparent; }

  // Unity "titlebars"
  .top {
    border-radius: $window_radius $window_radius 0 0;
    // padding used for the min/max/close titlebuttons
    padding: if($variant =='light', 1px 7px 1px 7px, 0 6px 1px 6px);
    background-color: $headerbar_bg_color;
    background-clip: padding-box;
    color: $headerbar_fg_color;
    text-shadow: none;
    border: 1px solid $wm_border;
    border-bottom: none;
    box-shadow: inset 0 -1px 0 0 $headerbar_shade_color;

    &:backdrop {
      background-color: $headerbar_backdrop_color;
      color: gtkmix($headerbar_fg_color, $headerbar_backdrop_color, 50%);
      border: 1px solid $wm_border_backdrop;
      border-bottom: none;
      box-shadow: inset 0 -1px 0 0 $headerbar_shade_color;
      transition: $backdrop_transition;
    }
  }

  // this is the window border outside of the titlebar!
  .left,
  .right,
  .bottom {
    background-color: $wm_border;

    &:backdrop {
      background-color: $wm_border_backdrop;
    }
  }
}

// unity 7 top panel - equivalent to the gnome panel
UnityPanelWidget,
.unity-panel {
  box-shadow: none;
  background-color: $unity_panel_bg_color;
  color: $fg_color;
  border: 0;
}

.unity-panel {
  &.menuitem,
  .menuitem {
    color: $fg_color;
    border-radius: 24px;
    @extend %button_basic_flat;
  }
}

SheetStyleDialog.unity-force-quit {
  background-color: $bg_color;
}
