// 3rd party application styles

// These are for the different desktop environments that are being suppported

%panel_flat_button {
  color: $panel_fg_color;
  &:hover {
    @include button(hover, $tc: $panel_fg_color, $flat: true);
  }
  &:active { @include button(active, $tc: $panel_fg_color, $flat: true); }
  &:checked {
    @include button(checked, $tc: $panel_fg_color, $flat: true);
  }
  &:disabled {
    @include button(undecorated);
    color: gtkalpha($panel_fg_color, 0.5);
    &:active,
    &:checked { @include button(insensitive-active, $tc: $panel_fg_color, $flat: true); }
  }
}
%panel_button {
  color: $panel_fg_color;
  &:hover {
    @include button(hover, $tc: $panel_fg_color);
  }

  &:active {
    @include button(active, $tc: $panel_fg_color);
  }

  &:checked {
    @include button(checked, $tc: $panel_fg_color);
  }

  &:disabled {
    @include button(insensitive, $tc: $panel_fg_color);

    &:active,
    &:checked { @include button(insensitive-active, $tc: $panel_fg_color); }
  }
}

// ************
// * Nautilus *
// ************

.nautilus-window {

  // Without this nautilus iconview grabs the bg_color
  notebook,
  notebook > stack:not(:only-child),
  notebook > stack:not(:only-child) searchbar {
    @extend %view;
  }

  headerbar,
  .titlebar {

    // Path-bar
    .path-bar-box {
      border-radius: $button_radius;
      padding-right: 6px;
      @include button(normal, $tc: $headerbar_fg_color);

      &:backdrop {
        @include button(normal, $tc: $backdrop_headerbar_fg);
      }
    }

    .nautilus-path-bar {
      border-radius: $button_radius;
      @include button(normal, $tc: $headerbar_fg_color);
      min-height: 32px;

      &:backdrop {
        @include button(normal, $tc: $backdrop_headerbar_fg);
      }

      button:not(.titlebutton) {
        margin: 0;
        padding: 2px 8px;

        &.current-dir {
          border-width: 1px;
          border-radius: $button_radius;
          background-color: transparent;
          border-color: transparent;
        }

        &:not(.current-dir) {
          border-width: 1px;
          border-radius: $button_radius;
          background-color: transparent;
          border-color: transparent;

          &:hover {
            @include button(hover, $flat: true);

            * {
              opacity: 1;
            }

            &:backdrop {
              @include button(hover, $tc: $backdrop_headerbar_fg, $flat: true);
            }
          }
        }

        &.toggle.popup {
          border-radius: 0 $button-radius $button-radius 0;
          border-left: 1px solid $border_color;
        }
      }
    }
  }

  .path-buttons-box {
    border: 2px solid transparent;

    button {
      min-height: 22px;
    }
  }

  .titlebar {
    .linked > button {
      @extend %linked;
      @extend %headerbar_buttons;
    }
  }

  .operations-list row.activatable {
    &, &:hover, &:active, &:selected {
      box-shadow: none;
    }
  }

  // Back and forward buttons
  .linked.raised button.image-button:not(:only-child):not(#hack) {
    &,
    &:backdrop,
    &:disabled,
    &:backdrop:disabled {
      &:dir(ltr), &:dir(rtl) {
        @extend %headerbar_buttons;
        border-radius: 6px;
        margin-left: 3px;
        margin-right: 3px;
        &:last-child {
          border-left-color: transparent;
          &:hover, &:checked, &:active {
            border-left-color: $button_border;
          }
        }
      }
    }
  }

  .linked button.disclosure-button:not(:hover):not(:checked):not(:active),
  .linked .image-button:not(:hover):not(:checked):not(:active):not(.model) {

    &,
    &:backdrop {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .search+.toggle.popup {
    @extend %colored_buttons;
    border-left-color: $border_color;
  }

  // Location entry button
  .linked entry~.image-button:not(:hover):not(:checked):not(:active):not(.model) {
    @extend %colored_buttons;
  }

  .view .dim-label {
    color: gtkalpha($fg_color, 0.55);
  }

  // Add a border around thumbnails
  .thumbnail {
    box-shadow: 0px 1px 2px 0px gtkalpha($borders_color, 0.5),
      0px 0px 0px 1px gtkalpha($borders_color, 0.5),
      0px 2px 0px 0px gtkalpha($borders_color, 0.5);
    border-radius: 2px;
    @extend %checkerboard;
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/89
  .operations-list,
  .operations-list > :hover {
    background: none;
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/111
  .nautilus-canvas-item {
    border-radius: 0px;
  }

  .nautilus-canvas-item.label-text {
    border-radius: $button_radius;
  }

  // List view
  .nautilus-list-view {
    .view {
      &:selected {
        background-color: $view_selected_color;
        color: $text_color;

        &:hover {
          background-color: $view_selected_hover_color;
        }
      }

      &:hover {
        background-color: $view_hover_color;
      }
    }
  }
  widget.view {
    &:selected {
      background: $view_selected_color;
      color: $text_color;
      &:hover {
        background: $view_selected_hover_color;
      }
      &:active {
        background: $view_selected_active_color;
      }
    }
  }
  // This is from Yaru
  notebook {
    background-color: if($variant=='light', $base_color, $bg_color);
  }

  placessidebar {
    background-color: if($variant=='light', $bg_color, $base_color);
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/160
  entry.search > :not(.csd) {
    margin: 5px;

    &:not(image),
    &:backdrop:not(image) {
      color: $selected_fg_color;
      background-color: $suggested_bg_color;
    }
  }
}

// Floating status bar
.floating-bar {
  padding: 3px;
  background-color: $base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 8px 0 0 0;
}

.floating-bar.bottom.left {
  border-left-style: none;
  border-top-left-radius: 0;
}

.floating-bar.bottom.right {
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: $base_color;
  border-color: $backdrop_borders_color;
}

.floating-bar button {
  padding: 0px;
}

// Disk space pie
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: #eeeeec;

.disk-space-display {
  border-style: solid;
  border-width: 2px;
}

.disk-space-display.unknown {
  background-color: $disk_space_unknown;
  border-color: shade($disk_space_unknown, 0.7);
  color: $disk_space_unknown;
}

.disk-space-display.unknown.border {
  color: shade($disk_space_unknown, 0.7);
}

.disk-space-display.used {
  background-color: $disk_space_used;
  border-color: shade($disk_space_used, 0.7);
  color: $disk_space_used;
}

.disk-space-display.used.border {
  color: shade($disk_space_used, 0.7);
}

.disk-space-display.free {
  background-color: $disk_space_free;
  border-color: shade($disk_space_free, 0.7);
  color: $disk_space_free;
}

.disk-space-display.free.border {
  color: shade($disk_space_free, 0.7);
}

// *********
// * Gedit *
// *********

.gedit-search-slider {
  // gives gedit search entry some padding and a border
  // otherwise it's right under the headerbar
  background: $bg_color;
  border: 1px solid $borders_color;
  border-top-style: none;
  padding: 4px 8px;
  border-radius: 0 0 $button_radius $button_radius;

  button {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.gedit-document-panel {
  // 'documents' pane

  background-color: $bg_color;

  row.activatable {
    padding: 6px;
  }

  row button {
    // 'close' button
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
  }

  row:hover button {
    &:hover {
      background-color: gtkalpha(currentColor, .15);
    }

    &:active {
      background-color: gtkalpha(currentColor, .3);
    }
  }

  row:hover:selected button:hover {
    color: $fg_color;
  }
}

// ****************
// * gnome-tweaks *
// ****************

list.tweak-categories separator.horizontal {
  background: transparent;
  margin: 2px 0;
}

.tweak-group .tweak list {
  border-radius: $card_radius;
  border: 1px solid $borders_color;
}

// **************
// * gnome-todo *
// **************

.org-gnome-Todo {
  taskrow.activatable.new-task-row button.popup.toggle {
    border-radius: 0px;
    border: none;
    border-left: 1px solid $borders_color;
    padding-left: 10px;
    padding-right: 10px;
    -gtk-outline-radius: 0px;
  }

  viewport.view,
  listbox.transparent {
    background-color: gtkshade($base_color, 0.95);

    &:backdrop {
      background-color: $backdrop_base_color;
    }
  }
}

// *********
// * Guake *
// *********

// Fix bugged transparent headerbar background
window#guake-terminal notebook header {
  background: $headerbar_bg_color;
}

// *********
// * XFCE4 *
// *********

XfdesktopIconView.view {
  background: transparent;
  color: $osd_fg_color;
  border-radius: $button_radius;

  &:active {
    background: gtkalpha(gtkmix(black, $selected_bg_color, 15%), 0.5);
    text-shadow: 0 1px 1px black;
  }

  .label {
    text-shadow: 1px 1px 2px black;
  }

  .rubberband {
    @extend rubberband;
    border-radius: 0;
  }
}

// Menu
#whiskermenu-window {
  border-color: $window_outline_color;
  background-color: $popover_bg_color;
  padding: 3px;

  > frame > border {
    opacity: 0;
  }

  .categories.vertical {
    margin: 2px 0;
  }

  button {
    margin: 1px 0;
  }

  .launchers-pane {
    margin: 3px;
    background-color: $headerbar_bg_color;
    border: 1px solid $border-color;
  }

  scrollbar {
    background-color: transparent;
  }

  .launchers-view {
    background-color: transparent;
  }
}

// Xfce4 panel
$panel_transition_duration: 250ms;

.xfce4-panel.background {
  border: none;
  background-color: $panel_bg_color;
  color: $panel_fg_color;
  transition-duration: $panel_transition_duration;

  .tasklist button,
  #actions-button,
  #clock-button {
    margin: 2px;
  }

  .tasklist image {
    //-gtk-icon-transform: scale(0); margin: -10px; // Removes the icon
    margin-left: 2px;
    margin-right: 2px;
  }

  button {
    label {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  button {
    border-radius: 12px;
    padding: 0 6px;
    min-height: 12px;
    min-width: 12px;
    color: $panel_fg_color;
    @extend %panel_button;
    &.flat {
      @extend %panel_flat_button;
    }

    entry {
      caret-color: $text_color;
    }

    menu {
      -gtk-icon-effect: none;

      text-shadow: none;

      // Theme pulseaudio-plugin's mpris buttons
      .linked button {
        @extend %linked;
      }
    }
  }
}

// ********
// * Nemo *
// ********

%desktop-canvas-item,
.nemo-desktop.nemo-canvas-item {
  color: $selected_fg_color;
  text-shadow: 1px 1px 2px transparentize(black, 0.2);
}

.nemo-properties-dialog {
  .dialog-action-box .dialog-action-area {
    // add margin to preferences buttons
    margin: 2px 6px 4px;
  }

  toolbar stackswitcher.linked button {
    margin-right: 0;

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}

.nemo-window {
  widget > .toolbar.horizontal {
    margin: -2px;
    padding: 3px 0;
    background-color: if($variant=='light', $bg_color, $base_color);
  }
  .sidebar {
    background-color: if($variant=='light', $bg_color, $base_color);
    scrollbar {background-color: transparent;}

    scrolledwindow.frame.nemo-places-sidebar {
      // get rid of double border in sidebar
      border: none;
    }
    viewport.frame box.vertical treeview.view.places-treeview {
      border-radius: 0; // get rid of weird radius on selected rows

      &:not(:selected) {
        &:not(:backdrop):hover {
          background-image: image($base_hover_color);
        }
      }
    }
  }

  .nemo-window-pane {
    widget.view {
      background-color: if($variant=='light', $base_color, $bg_color);
      &:selected {
        background: $view_selected_color;
        color: $text_color;
        &:hover {
          background: $view_selected_hover_color;
        }
        &:active {
          background: $view_selected_active_color;
        }
      }
    }
    treeview.view {
      background-color: if($variant=='light', $base_color, $bg_color);
      :hover {
        background-color: $view_hover_color;
      }
      &:selected {
        background-color: $view_selected_color;
      }
      &:selected:hover {
        background-color: $view_selected_hover_color;
      }
    }
    widget.entry {
      // Add border around rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $fg_color;
      border-color: $selected_bg_color;
      background-color: $bg_color;
    }

    widget.entry:selected {
      // Add highlighting to selected text in rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $selected_fg_color;
      border-color: $selected_bg_color;
      background-color: $selected_bg_color;
    }
  }

  toolbar.horizontal.primary-toolbar {
    widget.linked.raised button {

      // use proper icons for next and left in stackswitcher-like pathbar
      &:first-child widget {
        -gtk-icon-source: -gtk-icontheme('go-previous-symbolic');
      }

      &:last-child widget {
        -gtk-icon-source: -gtk-icontheme('go-next-symbolic');
      }
    }

    toolitem box widget * {
      // reset toolbar button dimensions
      min-height: 0;
      min-width: 0;
    }

    .linked button {
      // link linked buttons
      margin-right: 0;
    }
  }
}

// *******************
// * USB Creator GTK *
// *******************

#dialog-action_area3 {
  margin: 5px;
}

// ************
// * Chromium *
// ************

window.background.chromium {
  background-color: if($variant =='light', $bg_color, gtkmix(currentColor, $bg_color, 10%));

  // If there was/is an incognito class then https://github.com/lassekongo83/adw-gtk3/issues/147
  // could be fixed, so disabled for now until a better solution is found.
  //headerbar.titlebar button.titlebutton {
  //  color: white;
  //}

  entry,
  > button {
    border-color: gtkmix(currentColor, $bg_color, 27%);
    background-color: gtkmix(currentColor, $bg_color, 20%);
  }

  textview.view {
    background-color: $base_color;
  }
}

// ******************
// * gnome-calendar *
// ******************

.org-gnome-Calendar {
  .titlebar .text-button {
    @extend %colored_buttons;
  }
}

// ***********
// * Firefox *
// ***********

#MozillaGtkWidget.background {
  button {
    font-weight: initial;
  }

  @if $variant =='light' {
    scrollbar slider {
      background-color: gtkalpha(currentColor, .4);

      &:hover {
        background-color: gtkalpha(currentColor, .6);
      }
    }
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/130
  menuitem {

    check,
    radio {
      min-height: 12px;
      min-width: 12px;
    }
  }
}

@if $variant =='dark' {
  #MozillaGtkWidget {
    &.background {
      background-color: $headerbar_bg_color;
    }

    > widget {
      border {
        border-color: $borders_color;
      }
    }
  }
}

// ************************
// * Epiphany / GNOME Web *
// ************************

// https://github.com/lassekongo83/adw-gtk3/issues/59
button .download_progress trough {
  min-height: 2px;
}

// Back and forward buttons
.navigation-box.linked button.image-button:not(:only-child):not(#hack) {
  &,
  &:backdrop,
  &:disabled,
  &:backdrop:disabled {
    &:dir(ltr), &:dir(rtl) {
      @extend %headerbar_buttons;
      &:not(:hover):not(:active) {
        @include button(undecorated);
      }
      border-radius: 6px;
      margin-left: 3px;
      margin-right: 3px;
      &:last-child {
        border-left-color: transparent;
        &:hover, &:checked, &:active {
          border-left-color: $button_border;
        }
      }
    }
  }
}

// Attempts to style the suggestions. The text color of the large label/.title can't be styled.
dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:selected {

  &,
  &:hover {
    background-color: $selected_bg_color;
  }

  // FIXME: Hover not working for some reason.

  .subtitle {
    color: $selected_fg_color;
    @extend .dim-label;
  }

  image {
    color: $selected_fg_color;
  }
}

// ***********
// * Builder *
// ***********

.org-gnome-Builder {
  .dzlmenubuttonitem {
    font-weight: normal;
    min-height: 32px;
  }
}

// ******************
// * gnome-terminal *
// ******************

terminal-window notebook > header {

  &.top,
  &.bottom {
    tabs {
      &:not(:only-child) {
        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

terminal-window notebook {
  scrollbar {
    slider {
      // Fix for Ubuntu
      // avoids scrollbar protruding from the terminal window on wayland session
      // workaround for https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1720651
      margin: 0;
      border-width: 3px;
    }
  }
}

// **********
// * Thunar *
// **********

window.thunar {
  toolbar.horizontal:not(.inline-toolbar) {
    @extend %headerbar_stuff;
    background-color: $headerbar_bg_color;
    &:backdrop { background-color: $headerbar_backdrop_color; }
    border-bottom: 1px solid $headerbar_shade_color;
  }
  .sidebar {
    border-top: none;
    background-color: if($variant=='light', $bg_color, $base_color);
    scrollbar {background-color: transparent;}
  }
  .standard-view {
    border-top: none;
    widget.view {
      background-color: if($variant=='light', $base_color, $bg_color);
      &:selected {
        background: $view_selected_color;
        color: $text_color;
        &:hover {
          background: $view_selected_hover_color;
        }
        &:active {
          background: $view_selected_active_color;
        }
      }
    }
    treeview.view {
      background-color: if($variant=='light', $base_color, $bg_color);
      :hover {
        background-color: $view_hover_color;
      }
      &:selected {
        background-color: $view_selected_color;
      }
      &:selected:hover {
        background-color: $view_selected_hover_color;
      }
    }
  }
}
// ********
// * Caja *
// ********

.caja-navigation-window #Toolbar button {
  &:backdrop {
    image {
      color: $headerbar_fg_color;
      opacity: 0.5; // Because some icons aren't symbolic
    }
    &:disabled image {
      color: $headerbar_fg_color;
      opacity: 0.25;
    }
  }
}
.caja-pathbar button {
  min-width: 32px;
  border-radius: 0;
  margin-right: -3px;
  border-right-color: transparent;
  border-left-color: $border_color;
  &.slider-button:nth-child(odd) {
    border-radius: $button_radius 0px 0px $button_radius;
    border-left-color: $button_border;
  }

  &.slider-button:nth-child(even) {
    border-radius: 0 $button_radius $button_radius 0;
    border-right-color: $button_border;
  }
}

.caja-side-pane {
  background-color: if($variant=='light', $bg_color, $base_color);
  scrollbar {background-color: transparent;}
}
.caja-side-pane .frame {
  border-style: solid none none none;
}

.caja-notebook {
  widget.view {
    background-color: if($variant=='light', $base_color, $bg_color);
    &:selected {
      background: $view_selected_color;
      color: $text_color;
      &:hover {
        background: $view_selected_hover_color;
      }
      &:active {
        background: $view_selected_active_color;
      }
    }
  }
  treeview.view {
    background-color: if($variant=='light', $base_color, $bg_color);
    :hover {
      background-color: $view_hover_color;
    }
    &:selected {
      background-color: $view_selected_color;
    }
    &:selected:hover {
      background-color: $view_selected_hover_color;
    }
  }
  .view,
  .view.frame,
  .frame {
    border-left: 0;
    border-right: 0;
  }
}

// Gets rid of fat separator on backdrop
.caja-side-pane+separator+box:backdrop {
  background: $backdrop_bg_color;
}

.caja-navigation-window,
.caja-desktop-window {
  widget.view widget.entry {
    color: $fg_color;
    border-color: $borders_color;
  }
}

// desktop mode
.caja-desktop.caja-canvas-item {
  @extend %desktop-canvas-item;
}

// ************
// * GNU Cash *
// ************

#gnc-id-main-window {

  // https://github.com/lassekongo83/adw-gtk3/issues/148
  treeview.view {
    &:not(:selected):hover {
      background-color: gtkmix(currentColor, $base_color, 7%);
    }
  }
}

// *********
// * Geary *
// *********

geary-conversation-viewer#conversation_viewer {
  list.background.conversation-listbox.content {
    background-color: $bg_color;
    border: none;
    border-radius: 0;

    > row.activatable {
      border: 1px solid $borders_color;
      border-bottom-width: 0;

      &:first-child {
        border-top-left-radius: $card_radius;
        border-top-right-radius: $card_radius;
      }
    }

    .geary-attachment-pane {
      border-radius: 0 0 $card_radius $card_radius;

      actionbar.background {
        background-color: transparent;

        > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }

    geary-composer-editor {
      > box.background {
        background-color: transparent;

        > actionbar > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }
  }

  searchbar {
    > revealer > box {
      background-color: $base_color;
      border-color: $borders_color;
    }
  }
}

.geary-folder-popover-list-row {
  border-radius: 0;
  margin: 0;
}

// ************
// * Inkscape *
// ************

#DockedDialogNotebook > header {
  background-color: $bg_color;
}

#tool-toolbar flowbox button {
  margin: 1px;
}

// Transmission
#main-window-toolbar button {
  &:backdrop {
    image {
      color: $headerbar_fg_color;
      opacity: 0.5; // Because some icons aren't symbolic
    }
  }
}

// *********
// * Unity *
// *********

// This is from Yaru

UnityDecoration {
  -UnityDecoration-extents: 37px 1px 1px 1px;
  -UnityDecoration-input-extents: 10px;

  -UnityDecoration-shadow-offset-x: 1px;
  -UnityDecoration-shadow-offset-y: 5px;
  -UnityDecoration-active-shadow-color: transparentize(black, 0.3);
  -UnityDecoration-active-shadow-radius: 30px;
  -UnityDecoration-inactive-shadow-color: transparentize(black, 0.45);
  -UnityDecoration-inactive-shadow-radius: 30px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 0px;
  -UnityDecoration-title-fade: 0px;
  -UnityDecoration-title-alignment: 0.5;

  &.background { border-radius: $window_radius; background-color: transparent; }

  // Unity "titlebars"
  .top {
    border-radius: $window_radius $window_radius 0 0;
    // padding used for the min/max/close titlebuttons
    padding: 0 6px 1px 6px;
    background-color: $headerbar_bg_color;
    background-clip: padding-box;
    color: $headerbar_fg_color;
    text-shadow: none;
    border: 1px solid $wm_border;
    border-bottom: none;
    box-shadow: inset 0 -1px 0 0 $headerbar_shade_color;

    &:backdrop {
      background-color: $headerbar_backdrop_color;
      color: gtkmix($headerbar_fg_color, $headerbar_backdrop_color, 50%);
      border: 1px solid $wm_border_backdrop;
      border-bottom: none;
      box-shadow: inset 0 -1px 0 0 $headerbar_shade_color;
      transition: $backdrop_transition;
    }
  }

  // this is the window border outside of the titlebar!
  .left,
  .right,
  .bottom {
    background-color: $wm_border;

    &:backdrop {
      background-color: $wm_border_backdrop;
    }
  }
}

// unity 7 top panel - equivalent to the gnome panel
UnityPanelWidget,
.unity-panel {
  box-shadow: none;
  background-color: $unity_panel_bg_color;
  color: $fg_color;
  border: 0;
}

.unity-panel {
  &.menuitem,
  .menuitem {
    color: $fg_color;
    border-radius: 6px;
    @extend %button_basic_flat;
  }
}

SheetStyleDialog.unity-force-quit {
  background-color: $bg_color;
}

// **********
// * Budgie *
// **********

.budgie-popover {
  color: $fg_color;
  border-radius: $popover_radius;
  border: 1px solid $window_outline_color;
  background-clip: border-box;
  background-color: $popover_bg_color;
  box-shadow: 0 2px 3px 1px transparentize(black, 0.85);
}

.budgie-popover .container {
  padding: 6px;
}

.budgie-panel {
  background-color: $panel_bg_color;
  color: $panel_fg_color;

  &.transparent {
    background-color: transparent;
  }

  &.dock-mode {
    border-radius: 14px;
    padding: 8px 7px;
    border: 1px solid $window_outline_color;
    background-clip: border-box;

    &.transparent {
      border-color: transparent;
    }

    button {
      border-radius: 8px;
    }
  }

  button {
    @extend %panel_button;
    margin: 0 1px;
  }
  &.horizontal button {
    padding: 0px 4px;
  }
  &.vertical button {
    padding: 4px 0px;
  }
  button.flat {
    min-height: 0;
    color: $panel_fg_color;
    @extend %panel_flat_button;
  }

  button.flat.launcher {
    padding: 8px 0;
    color: $panel_fg_color;

    > icon {
      background-image: none;
    }
  }

  separator {
    background-color: $panel_separator_color;
  }
}

.container,
.raven-frame {
  list,
  list row.activatable {
    &:dir(rtl), &:dir(ltr) {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      color: $fg_color;
    }
  }
}

.container textview,
.container text {
  border-radius: $popover_radius;
}

.container textview {
  margin: 3px;
}

.raven-frame > border,
.container > border {
  border: none;
}

.raven {
  background-color: $popover_bg_color;
  padding: 6px;
  color: $fg_color;
  .raven-mpris {
    background-color: gtkalpha($popover_bg_color, 0.7);
  }
}

.budgie-container {
  padding: 0px;
  background-color: transparent;
  @each $pos in (top, bottom) {
    &.#{$pos} .budgie-panel.dock-mode button.flat,
    &.#{$pos} .budgie-panel.dock-mode,
    &.#{$pos} button.flat.launcher:checked  {
      &:dir(rtl), &:dir(ltr) {
        border-#{$pos}-left-radius: 0;
        border-#{$pos}-right-radius: 0;
      }
    }
  }
  @each $pos in (left, right) {
    &.#{$pos} .budgie-panel.dock-mode button.flat,
    &.#{$pos} .budgie-panel.dock-mode,
    &.#{$pos} button.flat.launcher:checked {
      &:dir(rtl), &:dir(ltr) {
        border-top-#{$pos}-radius: 0;
        border-bottom-#{$pos}-radius: 0;
      }
    }
  }
}

#tasklist-button {
  border-image: none;
}

@each $pos, $b_pos in ((top, bottom), (bottom, top), (left, right), (right, left)) {
  .#{$pos} .raven-frame {
    border-#{$b_pos}: 1px solid $wm_border;
  }
  .#{$pos} .budgie-panel.dock-mode {
    padding-#{$pos}: 0;
    border-#{$pos}-color: transparent;
  }

  .#{$pos} .shadow-block {
    background-color: transparent;
    background-image: none;
  }
}

.budgie-polkit-dialog,
.budgie-session-dialog,
.budgie-run-dialog {
  background-color: $headerbar_bg_color;
  color: $fg_color;
  border-radius: 18px;

  > box > grid {
    padding: 12px;
  }

  > decoration {
    border-radius: 18px;
  }

  .linked.horizontal > button:not(#hack) {
    &:dir(ltr), &:dir(rtl) {
      border-right-style: none;
      border-bottom-style: none;
      -gtk-outline-radius: 0;
      background-color: transparent;
      color: $dialog_fg_color;
      border-top: 1px solid gtkalpha($fg_color, 0.15);
      border-left: 1px solid gtkalpha($fg_color, 0.15);
      border-radius: 0;
      padding: 10px 14px;

      &:hover {
        background: $hover_color;
      }

      &:active {
        background: $active_color;
      }

      &.suggested-action {
        color: $accent_color;
      }

      &.destructive-action {
        color: $destructive_color;
      }

      &:checked {
        background: $selected_color;

        &:hover {
          background: $selected_hover_color;
        }

        &:active {
          background: $selected_active_color;
        }
      }

      &:first-child {
        border-left-style: none;
        border-radius: 0 0 0 17px;
        -gtk-outline-bottom-left-radius: 17px;
      }

      &:last-child {
        border-radius: 0 0 17px 0;
        -gtk-outline-bottom-right-radius: 17px;
      }
    }
  }
}

.budgie-switcher-window,
.budgie-notification-window {
  border-radius: 18px;
  background-color: transparent;
  .drop-shadow {
    background-color: $popover_bg_color;
    border: 1px solid $window_outline_color;
    background-clip: border-box;
    border-radius: 18px;
    padding: 12px;
    box-shadow: 0 2px 3px 1px transparentize(black, 0.85);
  }
}

.budgie-switcher-window flowbox {
  padding: 0;
}

.budgie-switcher-window flowboxchild {
  border-radius: $popover_radius;
  &:hover, &:active, &:selected {
    color: $fg_color;
    box-shadow: inset 0 0 0 1px $button_border;
  }
  &:hover {
    background-color: $hover_color;
  }
  &:active {
    background-color: $active_color;
  }
  &:selected {
    background-color: $selected_color;
  }
}

.budgie-notification,
.budgie-switcher {
  color: $fg_color;
  border-radius: 18px;
  background-color: transparent;
}

.budgie-menu,
.container {
  entry {
    background-color: $selected_color;
  }
}

.budgie-menu {
  padding: 2px 0;

  .category-button {
    margin: 1px 0;
  }
  .categories.sidebar {
    margin: 2px 0;
  }

  > .container > box > box > .sidebar {
    border-color: $border_color;
    background-color: transparent;
    padding-right: 6px;
  }

  row.activatable {
    padding: 0;
  }
}

// ********
// * Mate *
// ********

.mate-panel-menu-bar,
#PanelPlug {
  &.horizontal button.flat,
  &.horizontal menuitem {
    margin: 0 2px;
    padding: 0 4px;
  }

  &.vertical button.flat,
  &.vertical menuitem {
    margin: 2px 0;
    padding: 4px 0;
  }
  &:dir(rtl), &:dir(ltr) {
    button,
    menuitem,
    #tasklist-button {
      border-radius: 12px;
    }
    #showdesktop-button {
      &, &:hover, &:checked {
        background-color: transparent;
      }
    }
    button:not(#showdesktop-button) {
      @extend %panel_button;
      &.flat {
        @extend %panel_flat_button;
      }
    }

    background-color: $panel_bg_color;
    color: $panel_fg_color;
    border: $window_outline_color;
  }
}

#MatePanelAppletPopup {
  color: $fg_color;
}
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
  color: $panel_fg_color;
}

.brisk-menu {
  background-color: $popover_bg_color;
  scrolledwindow.frame > scrollbar {
    background-color: transparent;
  }

  > box {
    padding: 10px;
  }

  entry {
    margin: 3px;
  }

  .categories-list {
    padding: 4px 0;

    button {
      margin: 1px 3px;
    }
  }

  .frame {
    border: none;
  }

  .apps-list {
    background-color: $headerbar_bg_color;
    border-radius: 6px;
    border: 1px solid $border_color;
    margin: 5px 3px;

    > row.activatable {
      background-color: transparent;
      padding: 0;
    }
  }
}

#PanelPlug {
  menuitem > window > decoration {
    border: none;
  }

  > PanelApplet > menubar {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    > menuitem:hover {
      background-color: $selected_color;
    }

    menu {
      > menuitem {
        padding: 4px 6px;
      }

      arrow.bottom {
        margin-top: 12px;
      }
    }
  }
}

// ***********
// * LightDM *
// ***********

// GTK Greeter

#panel_window {
  background-color: $panel_bg_color;
  color: $panel_fg_color;
}

#login_window,
#shutdown_dialog,
#restart_dialog {
  padding: 12px;
  border-radius: 18px;
  border: 1px solid $window_outline_color;
  background-color: $headerbar_bg_color;
}

#login_window entry {
  border-radius: 999px;
  background-color: gtkalpha($fg_color, 0.1);
  &:disabled {
    background-color: gtkalpha($fg_color, 0.05);
  }
}

#content_frame {
  padding-bottom: 12px;
}

// ************
// * Mousepad *
// ************

.mousepad {
  box.horizontal > toolbar.horizontal:not(.inline-toolbar) {
    @extend %headerbar_stuff;
    background-color: $headerbar_bg_color;
    &:backdrop { background-color: $headerbar_backdrop_color; }
    border-bottom: 1px solid $headerbar_shade_color;
  }
  notebook {
    margin-top: -2px; // This might cause issues but is the only way i can get rid of the blank space
  }
  toolbar, notebook {
    button {
      &:backdrop {
        image {
          color: $headerbar_fg_color;
          opacity: 0.5; // Because some icons aren't symbolic
        }
        &:disabled image {
          color: $headerbar_fg_color;
          opacity: 0.25;
        }
      }
    }
  }
}

// *********
// * Pluma *
// *********

.pluma-window {
  .primary-toolbar {
    @extend %headerbar_stuff;
    background-color: $headerbar_bg_color;
    &:backdrop { background-color: $headerbar_backdrop_color; }
    border-bottom: 1px solid $headerbar_shade_color;
  }
  statusbar > widget > frame > border {
    border: none;
  }
}

// *********************
// * Cinnamon Settings *
// *********************

.cs-category-view iconview.view {
  :hover {
    background-color: $view_hover_color;
    border: 1px solid $button_border;
    border-radius: 6px;
  }
  &:selected {
    border: 1px solid $button_border;
    background: $view_selected_color;
    color: $text_color;
    &:hover {
      background: $view_selected_hover_color;
    }
    &:active {
      background: $view_selected_active_color;
    }
  }
}