%panel_flat_button {
  color: $panel_fg_color;
  @include button(undecorated);
  &:hover {
    @include button(hover, $tc: $panel_fg_color, $flat: true);
  }
  &:active { @include button(active, $tc: $panel_fg_color, $flat: true); }
  &:checked {
    @include button(checked, $tc: $panel_fg_color, $flat: true);
  }
  &:disabled {
    @include button(undecorated);
    color: gtkalpha($panel_fg_color, 0.5);
    &:active,
    &:checked { @include button(insensitive-active, $tc: $panel_fg_color, $flat: true); }
  }
}

%panel_button {
  color: $panel_fg_color;
  &:hover {
    @include button(hover, $tc: $panel_fg_color);
  }

  &:active {
    @include button(active, $tc: $panel_fg_color);
  }

  &:checked {
    @include button(checked, $tc: $panel_fg_color);
  }

  &:disabled {
    @include button(insensitive, $tc: $panel_fg_color);

    &:active,
    &:checked { @include button(insensitive-active, $tc: $panel_fg_color); }
  }
}

@import 'apps/misc';
@import 'apps/cinnamon';
@import 'apps/budgie';
@import 'apps/lightdm';
@import 'apps/mate';
@import 'apps/unity';
@import 'apps/xfce';
